html {
		background-color:#fffaf0;
		
	}
h1 {
	font-size: 32pt;
	}
h2 {
	 width: 1300px;
	margin-left:120px;
	font-size: 24pt;
	color:#6b8e23;
	
   }
h3 {
	
	margin-left: 35px;
	font-size: 18pt;	
   }	
h4 {
	
	margin-left: 100px;
	font-size: 16pt;
	color:#000080;	
   }	
	